<header>
    <div>
        <p>Options for all the Cocktail data</p>
        <nav>
            <a>Cocktails</a>
            <a>Ingredients</a>
            <a>Lists</a>
        </nav>
    </div>
    <div>
        <p>Options for the Ingredients</p>
        <nav>
            <a>Ingredient Name</a>
        </nav>
    </div>
    <div>
        <p>Options for the Lists</p>
        <nav>
            <a>Categories</a>
            <a>Ingredients</a>
            <a>Glasses</a>
            <a>Alcohol</a>
        </nav>
    </div>
    <div>
        <p>Options for Cocktail searches</p>
        <nav>
            <a [routerLink]="" [queryParams]="">Name</a>
            <a [routerLink]="" [queryParams]="">Letter</a>
            <a [routerLink]="" [queryParams]="">Random</a>
            <a [routerLink]="" [queryParams]="">Ingredient</a>
            <a [routerLink]="" [queryParams]="">Alcohol</a>
            <a [routerLink]="" [queryParams]="">Category</a>
            <a [routerLink]="" [queryParams]="">Glass</a>
        </nav>
    </div>
</header>
